.banner-footer {
  background: var(--title-footer-background);
}

.footer-flex {
  display: flex;
  flex-direction: column;
}

.footer-address {
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

footer p {
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--body-background-color);
  text-align: center;
  margin: 0;
}

.footer-city, .footer-contact {
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--body-background-color);
}

.footer-city {
  margin-top: 9px;
  line-height: 24px;
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--title-footer-background);
  text-decoration: none;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 75px;
  gap: 20px;
}

.social-links {
  list-style: none;
  display: flex;
  padding: 0;
  gap: 10px;

  a {
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    border-radius: 50%;
  }

  .team-social-icon {
    fill: var(--body-background-color);
  }

  a:hover {
    background-color: var(--change-color);
  }
}

.footer-subs {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.footer-email {
  display: flex;
  flex-direction: column;
}

.box-email {
  background-color: var(--title-footer-background);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 450px;
  height: 50px;
  color: var(--body-background-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding-left: 16px;
  letter-spacing: 3%;
  margin-bottom: 20px;
}

.footer-button {
  display: flex;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  margin-left: 140px;
  margin-bottom: 60px;
  padding-left: 39px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: var(--body-background-color);
  background-color: var(--change-color);
  border-color: var(--text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.footer-send {
  display: block;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .footer-flex_distribution {
    display: flex;
    justify-content: space-between;
    padding: 0 65px;
    margin-top: 65px;
  }

  .social {
    margin: 0;
    padding-top: 0;
  }

  .footer-address {
    padding-top: 0;
  }

  .social .footer-subs {
    margin-top: 54px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-flex {
    display: flex;
    flex-direction: row;
  }

  .footer-flex_distribution {
    display: flex;
    padding: 0;
    margin-top: 65px;
    gap: 120px;
  }

  .footer-address {
    padding-bottom: 47px;
    align-items: flex-start;
  }

  footer p {
    text-align: left;
  }

  .footer-city, .footer-contact {
    line-height: 24px;
  }

  .footer-city {
    margin-top: 20px;
  }

  .social {
    margin-top: 10px;
    display: flex;
    align-items: flex-start;

    .footer-subs {
      margin-top: 65px;
      margin-left: 93px;
    }
  }

  .footer-email {
    display: flex;
    flex-direction: row;
    margin-left: 93px;
  }

  .box-email {
    width: 358px;
    margin-bottom: 0px;
  }

  .footer-button {
    min-width: 200px;
    height: 50px;
    margin-left: 12px;
    padding-left: 10px 45px;
  }
}